extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/lists.css")
  link(rel="stylesheet" href="/stylesheets/editForm.css")
  script(src="/javascripts/tasks.js" type="module" defer)

block content
  h1(class="listsTitle") Current Lists:
    a(href='/lists/add' class='addListButton' role='button') Create A List
    div(class="listsContainer")
      if singleList
        div(class="lists")
          div(class="listsFlexContainer")
            p.name= singleList.name
            a(href=`/lists/${singleList.id}/edit` role='button') Edit
            a(href=`/lists/delete/${singleList.id}` role='button') Delete
            a(href=`/tasks` role='button') Create a Task
        if singleList.Tasks
            div(class="listTasksContainer")
              each task in singleList.Tasks
                if !task.completed
                  div(id="listTaskFlexContainer" class="listTaskFlexContainer")
                      div
                          h3=task.name
                          if task.description
                              p=task.description
                      a(href=`/tasks/${task.id}/delete`) Remove
                          //- button(type='submit' class='removeButton') Remove
                      a(href=`/tasks/${task.id}`)
                          //- button(type='submit' class='editButton') Edit
                          //-  value = list.Tasks.task.id.completed = true
                          //- button( type='submit' class='completeButton' value = list.Tasks.task.id.completed = true ) Complete
                      //- a(href=`/tasks/${task.id}/completeTask`)
                      //-     button(type='submit' class='completeButton') Complete
                      //-     form(action=`/tasks/${task.id}/completeTask` method='POST')
                      //-       button( type='submit' class='completeButton' value=task.completed ) Complete
      if lists
        each list in lists
          div(class="lists")
            div(class="listsFlexContainer")
              p.name= list.name
              a(href=`/lists/${list.id}/edit` role='button') Edit
              a(href=`/lists/delete/${list.id}` role='button') Delete
              a(href=`/tasks` role='button') Create a Task
              div
                //- button(id='taskButton' type='button' class='taskButton') Task
                //- form(action=`/tasks/${list.id}` method='GET')
                //-   button( type='submit' class='listTaskShowButton') Task
          if list.Tasks
            div(class="listTasksContainer")
              each task in list.Tasks
                if !task.completed
                  div(id="listTaskFlexContainer" class="listTaskFlexContainer")
                      div
                          h3=task.name
                          if task.description
                              p=task.description
                      a(href=`/tasks/${task.id}/edit`) Edit
                      a(href=`/tasks/${task.id}/delete`) Remove
                          //- button(type='submit' class='removeButton') Remove
                      a(href=`/tasks/${task.id}`)
                          //- button(type='submit' class='editButton') Edit
                          //-  value = list.Tasks.task.id.completed = true
                          //- button( type='submit' class='completeButton' value = list.Tasks.task.id.completed = true ) Complete
                      //- a(href=`/tasks/${task.id}/completeTask`) Complete
                      //- button(type='submit' class='completeButton') Complete
                      form(action=`/tasks/${task.id}/completeTask` method='POST')
                        button( type='submit' class='completeButton' value=task.completed ) Complete
