extends layout.pug

block content
  if errors
      ul(class='errorContainer')
        each e,i in errors
          li(class="error")= errors[i]
  div(class='signupContainer')
    form(action='/users/signUp' method='post')
      h1(class="signupHeader") Sign up for free!
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class="signupOuterContainer")
        div(class="signupInnerContainer")
          div(class='form-group')
            label(for='email') Email
            input(type='text' id='email' name='email' value=user.email class='form-control')
          div(class='form-group')
            label(for='userName') Username
            input(type='text' id='userName' name='userName' value=user.userName class='form-control')
          div(class='form-group')
            label(for='password') Password
            input(type='password' id='password' name='password' value=user.password class='form-control')
          div(class='submitButton')
            button(type='submit' class='submitButton') Sign Up!
